<h2>Relational Algebra Interpreter</h2>
<div class="input-container">
  <div class="program-text">
    <h3>
      Program Lines&nbsp;
      <sup><a href="/">Clear</a></sup>
    </h3>
    <form action="/" method="get">
      <textarea id="program" name="program" rows="20" cols="70"><%= program %></textarea><br/><br/>
      <input type="submit" value="Run">
    </form>
  </div>
  <div class="input-data">
    <h3>
      Input Data&nbsp;
      <sup><a href="/data">Edit</a></sup>
    </h3>
    <div class="relations-container">
      <pre><%= input_data %></pre>
    </div>
  </div>
</div>
<div class="output-container">
  <h3>Output Data</h3>
  <pre><%= output_data %></pre>
</div>
