<h2><a href="/">Relational Algebra Interpretor</a> / <a href="/data">Input Data</a> / Edit <%= original_name %></h2>

<div class="relation-form">
  <div>
    <%= erb :'data/form', locals: {
          action: "/data/#{original_name}/update",
          name: name,
          schema: schema,
          rows: rows,
          errors: errors,
          btn_label: 'Update'
        } %>
  </div>
  <div class="notes">
    <%= erb :'data/form_notes' %>
  </div>
</div>
