<p>
  Input attributes & data as CSV (one line per attribute, one line per data row).
</p>
<p>
  Attribute format is <code>attribute_name,attribute_type</code>, where <code>attribute_type</code> can
  be one of the following: <code>numeric</code>, <code>string</code>, <code>date</code>.
</p>
<p>
  <b>Example.</b> For a relation <code>Users</code> with three attributes (<code>id</code>, <code>email</code>, and <code>name</code>)
  one would enter the following into the <i>Attribute names & types</i> textarea:
  <pre>
id,numeric
email,string
name,string
  </pre>
  And the following into the <i>Data</i> textarea:
  <pre>
1,john@example.com,John Smith
2,jane@example.com,Jane Doe
  </pre>
</p>
