<h2><a href="/">Relational Algebra Interpretor</a> / <a href="/data">Input Data</a> / New Relation</h2>

<div class="relation-form">
  <div>
    <form action="/data/create" method="post" autocomplete="off">
      <label for="name">Name:</label><br/>
      <input type="text" name="name" id="name"><br/><br/>
      <label for="schema">Attribute names & types:</label><br/>
      <textarea cols="50" rows="10" name="schema" id="schema"></textarea><br/><br/>
      <label for="rows">Data:</label><br/>
      <textarea cols="50" rows="15" name="rows" id="rows"></textarea><br/><br/>
      <input type="submit" value="Create">
    </form>
  </div>
  <div class="notes">
    <p>
      Input attributes & data as CSV (one line per attribute, one line per data row).
    </p>
    <p>
      Attribute format is <code>attribute_name,attribute_type</code>, where <code>attribute_type</code> can
      be one of the following: <code>numeric</code>, <code>string</code>, <code>date</code>.
    </p>
    <p>
      <b>Example.</b> For a relation <code>Users</code> with three attributes (<code>id</code>, <code>email</code>, and <code>name</code>)
      one would enter the following into the <i>Attribute names & types</i> textarea:
      <pre>
id,numeric
email,string
name,string
      </pre>
      And the following into the <i>Data</i> textarea:
      <pre>
1,john@example.com,John Smith
2,jane@example.com,Jane Doe
      </pre>
    </p>
  </div>
</div>
