<h2><a href="/">Relational Algebra Interpreter</a> / <a href="/data">Input Data</a> / New Relation</h2>

<div class="relation-form">
  <div>
    <%= erb :'data/form', locals: {
          action: '/data/create',
          name: name,
          schema: schema,
          rows: rows,
          errors: errors,
          btn_label: 'Create'
        } %>
  </div>
  <div class="notes">
    <%= erb :'data/form_notes' %>
  </div>
</div>
